# Configuration file

common {
    B:enableInterpolation=true
    B:enableMipmap=true
    B:forceUnicode=false
    I:runMode=0
    I:saveMemory=1
}

font {
    B:fontAlignBaseline=true
    I:fontAntiAlias=1
    B:fontAutoSizing=true
    I:fontEmphasis=0
    I:fontGap=0
    S:fontName=Monocraft
    I:fontResolution=4
    D:fontSizeScaleFactor=1.0
    I:fontSpaceWidth=0
    I:fontTargetToReplace=0
    I:primaryFontStyle=0
    S:secondaryFontName=SansSerif
    I:secondaryFontStyle=0
    B:useOSFont=true
    D:widthFactorDefaultCharset=1.0
    D:widthFactorUnicodeCharset=1.0
}

global {
    B:asyncInitialization=true
    B:disableFontSelectionGui=false
    B:enablePerPlayerConfig=false
    S:externalFontsPaths <
        fontfiles
     >
    B:setMcRendererToHighPrecision=true
    B:tweakScaledResolution=true
}

memory {
    B:compressImage=false
    I:maxTempMemForGlyphImgGen=32
    B:useGrayscaleImage=true
}

~CONFIG_VERSION: 7
